.home__conteudo{
    background-image: linear-gradient(to bottom, white, var(--cor4));
    width: 100vw;
    height: calc(100% - 10vh);
}
.titulo__principal{
    color: var(--cor2);
    text-align: center;
}

.home__imagem{
    background-image: url(../img/WhatsApp\ Image\ 2021-10-16\ at\ 01.37.44.jpeg);
  
}

.titulo__secundario{
    margin-top: 1rem;
    color: var(--cor2);
    text-align: center;
    font-size: 2em;
}
.home__sentado{
    background-image: url(../img/WhatsApp\ Image\ 2022-01-03\ at\ 23.44.57.jpeg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
